.welcome {
    --base-font-size: 50px;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f61000;
    font-size: var(--base-font-size);
    font-family: Futura, Helvetica Neue, Arial, sans-serif;
    font-variant: all-small-caps;
}
